@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-lora);

  --color-sunshade-50: #fff8ed;
  --color-sunshade-100: #fff0d4;
  --color-sunshade-200: #ffdda9;
  --color-sunshade-300: #ffc472;
  --color-sunshade-400: #fe9c30;
  --color-sunshade-500: #fd8312;
  --color-sunshade-600: #ee6808;
  --color-sunshade-700: #c54e09;
  --color-sunshade-800: #9c3d10;
  --color-sunshade-900: #7e3410;
  --color-sunshade-950: #441806;
}

body {
  background: var(--background);
  color: var(--foreground);
}
